.contact-heading {
	margin-top:2em;
	background-color:white;
	border-radius:10px;
	padding:0.5em;
	color:#5EB4D1;
	margin-bottom:1em;
}

p {
	text-align:center;
	margin-bottom:56px;
}

form {
	width:40%;
	margin:0 auto;
	background-color:#ceebdb;
	padding:2em;
 	border-radius:5px;
 	margin-bottom:10px; 
}

input[type=text], input[type=email], textarea {
  width:100%;
  padding:1em;
  border-radius:5px;
  border:1px solid #ccc;
    
}

textarea {
  height:9em;
}

@media screen and (max-width:992px) {
  form {
	width:75%;
  }

}

@media screen and (max-width:600px) {
  form {
	width:95%;
  }
}




input[type=submit] {
	color:white;
	background:#5EB4D1;
	border-radius:5px;
	padding:1em;
	border:1px solid #5EB4D1;
	text-align:center;

}


div input[type=submit] {
	text-align: center;
}

#submit-button {
	text-align:center;
	margin-top:2em;
}