textarea {
	width:50%;
	height:100px;
}



.k-container {
	/*margin-left:20%;
	margin-right:20%;*/
	width:60%;
	background:#ceebdb;
	padding:1em 5em 1em 5em;
	border-radius:5px;
	margin-bottom:1em;
	
}



@media screen and (max-width:992px) {
	.k-container {
	/*margin-left:20%;
	margin-right:20%;*/
	width:85%;
	background:#ceebdb;
	padding:1em 5em 1em 5em;
	border-radius:5px;
	margin-bottom:1em;
}
}

@media screen and (max-width:600px) {
	.k-container {
	/*margin-left:20%;
	margin-right:20%;*/
	width:95%;
	background:#ceebdb;
	padding:1em;
	border-radius:5px;
	margin-bottom:1em;
}
}

input[type=text], input[type=email], textarea {
  padding:0.8em;
  border-radius:5px;
  border: 1px solid #ccc;
  width:100%;
 
}

/*input[type=submit] {
	text-align:center;
	margin:0px auto;
}*/
/*.col-xs-6 {
	padding-right:0;
	padding-left:30px;
}*/

input[type=submit] {
	color:white;
	background:#5EB4D1;
	border-radius:5px;
	padding:1em;
	border:1px solid #5EB4D1;
	text-align:center;

}


div input[type=submit] {
	text-align: center;
}

.submit-button {
	text-align:center;
	margin-top:2em;
}