/*textarea {
	width:50%;
	height:100px;
}*/

/*.k-container {
	margin-left:12.5%;
	margin-right:12.5%;
	width:75%;
	background:#ceebdb;
	padding:1em;
	border-radius:5px;
}*/

/*input {
  padding:1em;
  margin:0.5em;
  border-radius:5px;
  border: 1px solid #ccc;
 
}*/

/*label {
	margin-left:0.7em;
}*/