<footer class="footer">
	<a href="#"><img class="logo" src="../photos/tina-logo.png"></a>

	<h3 id="social-media">
		<a class="icons"href="#">
			<i class="fa fa-twitter"></i>
		</a>
		<a class="icons"href="#">
			<i class="fa fa-facebook"></i>
		</a>
		<a class="icons"href="#">
			<i class="fa fa-linkedin"></i>
		</a>
		<a class="icons"href="#">
			<i class="fa fa-instagram"></i>
		</a>
		
	</h3>

	<p>Tina's Dog Walking. Copywrite 2016</p>
	<p>Tina Csefalvay 138 Naughton Circle, Evans City, PA 16033</p>
</footer>
