<html>
<head>
	<title>Tina's Dog Walking</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Dancing+Script|EB+Garamond|News+Cycle:400,700|Comfortaa:400,700|Coming+Soon|Noto+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster|Courgette' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- CSS link -->
	<link rel="stylesheet" type="text/css" href="{{site.url}}/css/main.css">
</head>
<body>

	{% include header.html %}

		{{content}}

	{% include footer.html %}

</body>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>